
<!-- Required meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- vendor CSS -->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
<link th:href="@{/css/jquery-ui.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap-customized.css}" rel="stylesheet">
<link th:href="@{/css/sb-admin.css}" rel="stylesheet">

<!-- 레이어 팝업 CSS -->
<link th:href="@{/css/layer_pop.css}" rel="stylesheet">