 <nav class="navbar navbar-expand navbar-dark bg-gradient-dark-02 static-top">

    <a class="navbar-brand mr-1" href="/atcl/list">
    	<img src="/image/tck_logo.png" alt="KISO">
    </a>
	<!-- 
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
	 -->
     <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></form> 

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
	  <!-- 
	  <li class="nav-item dropdown no-arrow mx-1">
	  	<div id="navbar-user" th:text="${session.auth.name+'님'}"></div>
	  </li>
	   -->
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
          <span id="navbar-user" th:text="${session.auth == null ? '' : session.auth.name +'님'}"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="/config/pw/view">비밀번호 변경</a>
          <a class="dropdown-item" href="/config/user">유저관리</a>
          <a class="dropdown-item" href="/config/company">참여사 관리</a >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:TckJS.Ajax.LogOut();">Logout</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
	  	<div id="navbar-timer">30:00</div>
	  </li>
    </ul>

  </nav>
