<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>KISO Admin - Error</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<div id="wrapper" style="margin-top: 200px; text-align: center;">
		<img src="/image/error.png" />
		<h1 style="margin-top: 2rem; margin-bottom: 2rem;" th:text="${msg}"></h1>
		<div class="buttons">
			<a href="/login" style="padding:.4rem;border:1px solid #c6c6c6;font-weight:700;" th:if="${is_login.equals('0')}">로그인</a>
			<a href="javascript:history.back()" style="padding:.4rem;border:1px solid #c6c6c6;font-weight:700;"  th:if="${is_login.equals('1')}">돌아가기</a>
		</div>
	</div>
</body>

</html>
