* {margin:0; padding:0; font-family: 'Gotham A','Gotham B','YoonGothic','Nanum Barun Gothic', Dotum, Gulim, AppleGothic, Sans-Serif;word-break:break-all;}

html {
	width:100%;
	min-width:1216px;
	height:100%;
	overflow-y:scroll;
	overflow-x:auto;
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#999999;
	scrollbar-highlight-color: #999999;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #666666;
}
body {
	width:100%;
	min-width:1216px;
	height:100%;
	margin:0;
	padding:0;
	font-size:12px; 
	line-height:18px;
	font-family: 'Gotham','YoonGothic','Nanum Barun Gothic', Dotum, Gulim, AppleGothic, Sans-Serif;
	color:#666;
	word-break:keep-all;
	background:#fff;
 
}
*html body img {margin:none; padding:none;} /*for IE 6*/
hr {
	clear:both;
	display:none;
}
body img, img {
	border:0 none;
	margin:0;
	padding:0;
	line-height:0px;
}

blockquote, address {
	margin:0;
	padding:0;
}
em, address, cite {
	font-style:normal;
}

div, p, ol, ul, li, img, a, h1, h2, h3, h4, h5, h6, form, span, iframe, dl, dt, dd, address {
	margin:0;
	padding:0;
}
div, ul, ol {
	list-style:none;
}
button {background:none; border:0}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clfix {display: inline-block;}
.clfix {display: block;}
* html .clfix {height: 1%;} /* hides from ie-mac */
.clfix{ zoom:1; } /*for ie 5.5-7*/

/* 링크 박스 안뜨게.. */
a,img{selector-dummy: expression(this.hideFocus=true);} 

a {color:#666;text-decoration:none;}
a:link, a:visited {color:#666;text-decoration:none;}
a:hover, a:focus {color:#222;text-decoration:underline;}
a:active{color:#666;}

/* table */
table caption {visibility:hidden; overflow:hidden; width:0; height:0; margin:0; padding:0; font:0/0  'Nanum Barun Gothic', Dotum, Gulim, AppleGothic, Sans-Serif;}

/* form */
form, fieldset, legend, label {
	margin:0;
	padding:0;
}
fieldset {
	border:0 none;
}
fieldset legend {
	position:absolute;
	visibility:hidden;
	overflow:hidden;
	width:0;
	height:0;
	margin:0;
	padding:0;
	font:0/0 Arial;
}
label {
	cursor:pointer;
}
label input,
label img,
label select,
label textarea,
fieldset label,
fieldset input,
fieldset img,
fieldset select,
fieldset textarea {
	vertical-align:middle;
	font-family: 'Gotham','YoonGothic','Nanum Barun Gothic', Dotum, Gulim, AppleGothic, Sans-Serif;
}
input {
	margin:0; padding:0;
	line-height:16px;
	font-size:12px;
}
.input {background:#f7f7f7; height:18px; border:1px solid #cccccc;}
.input2 {background:#fff; height:18px; border:1px solid #cccccc;}
.checkInput {background:#fff; border:none; height:19px;}
.input_select {behavior:url(../js/selectbox.htc); font-size:11px; font-family: 'Nanum Barun Gothic', Dotum, Gulim, AppleGothic, Sans-Serif; color:#a2c7d5; border:none;}
button {
	border:0;
	cursor:pointer;
}

textarea {
	border:1px solid #cccccc;
}

.hide {display:none;}
.t_bold {font-weight:bold;}

input.ip_c[type="checkbox"]{display:none;}
input.ip_c + label{display:inline-block;height:18px;padding:0 0 0 18px; margin-top:3px; line-height:20px;background:url(../images/check_bg.png) 0 0 no-repeat; background-size:18px; font-size:11px; font-weight:400; color:#444;}
input.ip_c:checked + label{background:url(../images/check_bg_on.png) 0 0 no-repeat; background-size:18px;}

.btn_sm {display:inline-block; padding:0 15px; height:22px; line-height:22px; border-radius:5px; background:#929dae; font-size:13px; color:#fff; min-width:70px;}
a.btn_sm {color:#fff !important; padding:0;}


/* LAYOUT */
#wrap {width:100%; min-height:100%; min-width:1216px; background:url(../images/left_bg.png) top left repeat-y;}
#header {*zoom:1; height:90px; background:#343d4c; position:relative;}
#header:after {content:""; display:block; clear:both;}
#header .logo {float:left; width:176px; height:90px; background:#fff;}
#header .gnb {float:left;}
#header .gnb li {float:left; margin-left:25px;}
#header .gnb li:first-child {margin-left:20px;}
#header .gnb li a {display:block; padding:35px 5px 0; height:55px; font-size:14px; color:#fff;}
#header .gnb li a:hover {border-bottom:4px solid #17a175; height:51px;}
#header .gnb li.active_menu a {border-bottom:4px solid #17a175; height:51px;}
#header .top_menu {position:absolute; top:8px; left:1123px; width:78px; height:21px;}
#header .top_menu a {display:block; width:78px; height:21px; background:#636e81; border-radius:5px; text-align:center; line-height:22px; font-size:11px; font-weight:bold; color:#fff;}
#header .top_menu a:before {content:""; display:inline-block; width:8px; height:8px; border-radius:8px; background:#17a175; margin-right:6px;}

#container {*zoom:1; position:relative;}
#container:after {content:""; display:block; clear:both;}

/* LOGIN */
.login_wrap {position:fixed; top:50%; left:0; width:100%; margin-top:-150px;}
.login_logo {text-align:center; height:60px; border-bottom:1px solid #dddddd;}
.login_form {width:363px; margin:0 auto; padding:38px 0 42px; font-size:0; line-height:0;}
.login_form li {margin-bottom:14px;}
.login_form li .login_ip {width:100%; height:41px; border:1px solid #a3a3a3; padding:0 15px; box-sizing:border-box; font-size:16px; line-height:39px; color:#929292; border-radius:5px;}
.login_form a.btn_login {display:block; height:41px; line-height:41px; text-align:center; background:#337ab7; color:#fff; font-size:16px; border-radius:5px;border-color:#2e6da4;}
.login_copy {text-align:center; font-size:11px; color:#0e0e0e; line-height:13px; font-weight:bold; letter-spacing:0.05em;}
