<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/default">
<body>
	<th:block layout:fragment="css">
		<link th:href="${#tck.getVersion('/css/detail.css')}" rel='stylesheet' type='text/css' />
	</th:block>

	<th:block layout:fragment="content">
		<div class="container-fluid">
			<!-- 화면구성 -->
			<div class="card mb-3">
				<div class="card-header">회원정보 수정</div>
				<div class="card-body">
					<form id="frm" name="frm">
						<input type="hidden" id="acct_no" name="acct_no" th:value="${acct.acct_no}"/>
						<table class="table table-bordered table-user">
							<colgroup>
								<col style="width:150px;"/>
								<col style="width:*;"/>
							</colgroup>
							<tr>
								<th>이름</th>
								<td th:text="${acct.name}"></td>
							</tr>
							<tr>
								<th>아이디</th>
								<td th:text="${acct.id}"></td>
							</tr>
							<tr>
								<th>패스워드<br/>(변경시에 입력)</th>
								<td>
									<input type="password" class="form-control" id="pw" name="pw"  maxlength="100"/> 
								</td>
							</tr>
							<tr>
								<th>상태</th>
								<td>
									<input type="radio" id="state_1" name="state" value="1"> <label for="state_1">해제</label>
									<input class="ml-4" type="radio" id="state_0" name="state" value="0"> <label for="state_0">잠금</label>
								</td>
							</tr>
							
							<tr>
								<th>권한</th>
								<td>
									<th:block th:each="menu : ${menus}">
										<input type="checkbox" class="form-control menu_code" th:id="${menu.menu_code}" name="menu_codes"  th:value="${menu.menu_code}"/>
										<label th:for="${menu.menu_code}" th:text="${menu.menu_title}"></label><br/>
						  			</th:block>
								</td>
							</tr>
							<tr>
								<th>생성일</th>
								<td th:text="${acct.reg_dt}"></td>
							</tr>
							<tr th:if="${acct.upt_dt != null}">
								<th>수정일</th>
								<td th:text="${acct.upt_dt}"></td>
							</tr>
							<!-- 
							<tr>
								<td colspan="2">
									<button type="button" class="btn btn-info btn-sm" onclick="UserDetail.updateSumit();">수정</button>
									<button type="button" class="btn btn-default btn-sm" onclick="history.back();">취소</button>
									<div style="float:right">
										<button type="button" class="btn btn-danger btn-sm" onclick="UserDetail.deleteSumit();">삭제</button>									
									</div>
								</td>
							</tr>
							 -->
						</table>
						<div class="text-center mt-3">
						 	<button type="button" class="btn btn-primary mr-1" onclick="UserDetail.updateSumit();">수정</button>
							<button type="button" class="btn btn-default mr-1" onclick="history.back();">취소</button>
							<button type="button" class="btn btn-danger" onclick="UserDetail.deleteSumit();">삭제</button>									
						</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
	
	
	<th:block layout:fragment="script">
		<script th:src="${#tck.getVersion('/js/view/user_detail.js')}"></script>
		<script>
		/*<![CDATA[*/
			$(document).ready(function() {
				TckJS.Util.AlertMode = "layer";
				
				var state =  "[[ ${acct.state} ]]";
				$("input[name=state][value="+state+"]").prop("checked",true);
				
				var menu_codes =  "[[ ${acct.menu_codes} ]]".split(",");
				for(var i = 0 ; i < menu_codes.length ;i++){
					if(menu_codes[i] != "") $("input[type=checkbox][value="+menu_codes[i]+"]").prop("checked",true);
				}
			});			
		/*]]>*/
	</script>
	</th:block>
</body>
</html>


